<footer class="border-top py-5">
  <div class="container d-flex justify-content-between">
    <div class="d-flex">
      <ul class="nav justify-content-center">
        <li class="nav-item me-4">
          <a class="nav-link active" aria-current="page" href="#">聯絡我們</a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link" href="#">關於我們</a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link" href="#">隱私條款</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">合作提案</a>
        </li>
      </ul>
      <img src="" alt="" />
      <div>
        <a href="#"><i class="bi bi-facebook"></i></a>
        <a href="#"><i class="bi bi-instagram"></i></a>
        <a href="#"><i class="bi bi-line"></i></a>
      </div>
    </div>

    <div class="copyright">
      <p>版權所有 © 2025 B.B. Station</p>
    </div>
  </div>
</footer>

<footer>
  <div class="container">
    <div class="d-flex justify-content-between">
      <ul class="nav nav-underline">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">聯絡我們</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">關於我們</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">隱私條款</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">合作提案</a>
        </li>
      </ul>
      <a class="navbar-brand" href="index.html">
        <img src="/assets/images/首頁/Logotype.svg" alt="logo" />
      </a>
      <div>
        <a href="#"
          ><img src="/assets/images/首頁/Vector-IG.png" alt="ig-logo"
        /></a>
        <a href="#"
          ><img src="/assets/images/首頁/Vector-fb.png" alt="fb-logo"
        /></a>
        <a href="#"
          ><img src="/assets/images/首頁/Vector-line.png" alt="line-logo"
        /></a>
      </div>
    </div>
    <div class="copyright">
      <p>版權所有 © 2025 B.B. Station</p>
    </div>
  </div>
</footer>
