<footer class="border-top py-5">
  <div class="container d-flex justify-content-between">
    <div class="d-flex">
      <ul class="nav justify-content-center">
        <li class="nav-item me-4">
          <a class="nav-link active" aria-current="page" href="#">聯絡我們</a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link" href="#">關於我們</a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link" href="#">隱私條款</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">合作提案</a>
        </li>
      </ul>
      <img src="" alt="" />
      <div>
        <a href="#"><i class="bi bi-facebook"></i></a>
        <a href="#"><i class="bi bi-instagram"></i></a>
        <a href="#"><i class="bi bi-line"></i></a>
      </div>
    </div>

    <div class="copyright">
      <p>版權所有 © 2025 B.B. Station</p>
    </div>
  </div>
</footer>
