<nav class="navbar navbar-expand-lg bg-body-tertiary py-0">
  <div class="container p-0 ">
      <a class="navbar-brand" href="#">
        <img src="/assets/images/首頁/Logotype.svg" alt="logo" >
      </a>
          <div class="  navbar-collapse navbar-expand-lg bg-body-tertiary me-10" id="navbarText">
            <ul class="navbar-nav nav-underline ms-auto me-0 gap-0">
              <li class="nav-item py-0 me-8">
                <a class="nav-link px-0 pt-3 pb-2" aria-current="page" href="#">找寶物</a>
              </li>
              <li class="nav-item py-0 me-8">
                <a class="nav-link px-0 pt-3 pb-2 " href="#">我要分享</a>
              </li>
              <li class="nav-item py-0 me-8">
                <a class="nav-link px-0 pt-3 pb-2" href="#">愛心轉送</a>
              </li>
              <li class="nav-item py-0 me-8">
                <a class="nav-link px-0 pt-3 pb-2" href="#">爸媽交流站</a>
              </li>
              <li class="nav-item py-0 me-0">
                <a class="nav-link px-0 pt-3 pb-2" href="#">育兒資源</a>
              </li>
            </ul>
          </div>
          
           <i  class=" me-3 text-primary-300" data-lucide="handbag"></i>
            <div class="d-flex px-4 py-3">
              <i class="me-2 text-primary-300" data-lucide="baby"></i>
              <a class="text-gray-700" href="#" >登入/註冊</a>

            </div>
  </div>
</nav>

