footer {
  background: #6abfdd;
}
.footer-nav {
  border-bottom: 1px solid #e3f4f8;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav a {
  color: $primary-50;
  font-weight: 700;
}
.nav-link {
  padding-top: 12px;
  padding-bottom: 12px;
}
.copyright {
  color: $primary-50;
  font-size: 14px;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
