.rounded-circle {
  width: 32px;
  height: 32px;
  color: $primary-500;
  border-color: $primary-500;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}
.car-step {
  font-size: 14px;
}
.hyphen {
  width: 80px;
  height: 2px;
  color: #dee2e6;
}
.shopping-item {
  border-bottom: 1px solid #dee2e6;
}
// 表格圓角
.table thead th:first-child {
  border-top-left-radius: 40px; /* 左上角 */
}
.table thead th:last-child {
  border-top-right-radius: 40px; /* 右上角 */
}
.table tfoot tr:last-child th:first-child {
  border-bottom-left-radius: 40px; /* 左下角 */
  border-bottom: none;
}
.table tfoot tr:last-child td:last-child {
  border-bottom-right-radius: 40px; /* 右下角 */
  border-bottom: none;
}

.shopping-item th,
td {
  width: 198px;
  text-align: center;
  vertical-align: middle;
}
.item-status {
  padding: 4px 12px;
  border-radius: 12px;
  font-size: 14px;
  color: white;
  background-color: $highligh-300;
}
.product-quantity {
  color: #ced4da;
  border: 1px solid #dee2e6;
  border-radius: 24px;
  background-color: #f2f2f4;
  width: 175px;
}
// 消除上下箭頭
.qty-input::-webkit-outer-spin-button,
.qty-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
