.rounded-circle {
  width: 32px;
  height: 32px;
  color: $primary-500;
  border-color: $primary-500;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  align-items: center;
  justify-content: center;
}
.car-step {
  font-size: 14px;
}
