<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- 表頭 -->
     <section>
      <div class="container-fluid title-banner px-0">
        <div class="position-absolute title-depiction mt-21">
          <img class="title-img mb-8 " src="/assets/images/hero_title.svg" alt="">
          <div class="text-primary-600 d-flex align-items-center flex-column text-start">
              <p class="mb-1"> 誕生於寶媽的心願，從一人轉向一群愛寶寶的父母 ——</p>
              <p >想讓這些寶物延續溫度，傳遞給下一個需要的家庭。</p>
          </div>
        </div>
      </div>
    </section>
    <!-- 收尋列 -->
      <section>
        <div class="container px-0 search-bar ">
          <div class="input-group mb-3 position-relative ">
            <button class="btn bg-white dropdown-toggle  rounded-end rounded-pill" style="width: 212px" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
            <ul class="dropdown-menu " style="width: 212px">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
            <input type="text" class="form-control position-absolute" aria-label="Text input with dropdown button">
            <button class=" end-0 btn btn-primary rounded-circle p-3 m-2 " type="submit">
            <i class=" text-white " data-lucide="search"></i></button>
           
          </div>
          <!-- <div class="row d-flex justify-content-center m-0">
            <div class="col-10  bg-gray-100 rounded-pill px-0 ">
              <div class="d-flex  py-4 px-12">
                  <div class="  "> 
                    <a class=" bg-white d-flex justify-content-between classification py-5 px-8  rounded-end rounded-pill border input-group classification  " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     全部分類</a>                     
                        <ul class="dropdown-menu input-group mt-2 border-0 rounded-5 text-primary-600" style="width: 212px;">
                          <li><a class="dropdown-item text-gray-600 paragraph-body-small fw-bold" href="#">分類</a></li>
                          <li><a class="dropdown-item text-gray-600" href="#">全部分類</a></li>
                          <li><a class="dropdown-item text-gray-600" href="#">嬰兒服飾</a></li>
                          <li><a class="dropdown-item text-gray-600" href="#">男孩服飾</a></li>
                          <li><a class="dropdown-item text-gray-600" href="#">女孩服飾</a></li>
                          <li><a class="dropdown-item text-gray-600" href="#">玩具</a></li>
                          <li><a class="dropdown-item text-gray-600" href="#">育兒書籍</a></li>
                          <li><a class="dropdown-item text-gray-600" href="#">哺乳用品</a></li>
                          <li><a class="dropdown-item text-gray-600" href="#">推車/安全座椅</a></li>
                          <li><a class="dropdown-item text-gray-600" href="#">媽媽用品</a></li>
                        </ul>                                           
                  </div>
                  <form class="d-flex position-relative justify-content-between input-group" role="search">
                          <input class="form-control  py-5 px-4 rounded-start rounded-pill" type="search" placeholder="我要找寶物" aria-label="Search"/>
                          <button class="position-absolute end-0 btn btn-primary rounded-circle p-3 m-2" type="submit">
                            <i class=" text-white  " data-lucide="search"></i></button>
                  </form>
                </div>
            </div>
          </div> -->
        </div>
      </section>
    <!--  熱門分類 -->
      <section>
          <button type="button " class="btn rounded-circle position-relative button-Ghost-default-badge">
             <i  class=" text-primary-300" data-lucide="handbag"></i>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              1
              <span class="visually-hidden">unread messages</span>
            </span>
          </button>
      </section> 
        
      <div class="card card-shadow-primary shadow-inset" style="width: 18rem;">
  <div class="card-body shadow-inset ">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>


    <%- include('./layout/footer'); -%>
    
    <script type="module" src="../main.js"></script>

  </body>
</html>
