<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>shoppingcar</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container px-0">
      <!-- 購物流程步驟 -->
      <div class="d-flex justify-content-center py-10 border-bottom border-16">
        <div class="text-center">
          <span
            class="border border-2 rounded-circle d-flex align-items-center justify-content-center mx-auto mb-2"
          >
            01
          </span>
          <p class="car-step">確認​購物​車</p>
        </div>
        <div class="d-flex text-center">
          <div class="mx-2">
            <img class="" src="/assets/images/購物車/Rect.png" alt="橫線" />
          </div>
          <div>
            <span
              class="border border-2 rounded-circle d-flex align-items-center justify-content-center mx-auto mb-2"
            >
              02
            </span>
            <p class="car-step">付款​與運送​方式</p>
          </div>
        </div>
        <div class="d-flex text-center">
          <div>
            <img class="" src="/assets/images/購物車/Rect.png" alt="橫線" />
          </div>
          <div>
            <span
              class="border border-2 rounded-circle d-flex align-items-center justify-content-center mx-auto mb-2"
            >
              03
            </span>
            <p class="car-step">填寫寄送​資料​</p>
          </div>
        </div>
        <div class="d-flex text-center">
          <div>
            <img class="" src="/assets/images/購物車/Rect.png" alt="橫線" />
          </div>
          <div>
            <span
              class="border border-2 rounded-circle d-flex align-items-center justify-content-center mx-auto mb-2"
            >
              04
            </span>
            <p class="car-step">完成​訂購​</p>
          </div>
        </div>
      </div>
      <!-- 購物車內容 -->
      <div></div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
